*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;    
}

.manequin{
    width: 50%;    
    position: relative;
}

.choix{
    width: 50%;
    height: 100vh;    
    background-color: aqua;
}

h2{
    text-align: center;
    background-color: grey;
    margin: 10px 0 10px 0;
}

.couleur1{
    border: 10px solid yellow;
    border-radius: 100%;
}

.couleur2{
    border: 10px solid rgb(247, 153, 14);
    border-radius: 100%;
}

.couleur3{
    background-color: red;
    border: 2px solid black;
    width:20px;
    height:20px;
    border-radius: 50%;
}

.couleur4{
    border: 10px solid rgb(50, 34, 187);
    border-radius: 100%;
}

.couleur5{
    border: 10px solid rgb(32, 196, 54);
    border-radius: 100%;
}

.couleur6{
    border: 10px solid rgb(18, 115, 153);
    border-radius: 100%;
}

.couleur7{
    border: 10px solid rgb(170, 13, 118);
    border-radius: 100%;
}

.couleurs{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 10px 0;

}

.borderselect{
    border: 2px solid black;   
}

.radio{
    display: flex;
    justify-content: center;
}

.couche1{ 
    position: absolute;    
    width: 630px;
    height: 945px;   
    background-image: url("./images/chasuble.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 3;
}

.couche2{ 
    position: absolute;    
    width: 630px;
    height: 945px;   
    background-image: url("./images/option-1-orange.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 2;
}

.couche3{ 
    position: absolute;
    width: 630px;
    height: 945px;   
    background-image: url("./images/option-2-rouge.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 3;
}

textarea {
    resize: none;    
}